---
const FACEBOOK_PAGE_ID = import.meta.env.PUBLIC_FACEBOOK_PAGE_ID;
---

<div class="facebook-feed">
  <div class="max-w-3xl mx-auto">
    <div
      class="fb-page"
      data-href={`https://www.facebook.com/${FACEBOOK_PAGE_ID}`}
      data-tabs="timeline"
      data-width="500"
      data-height="600"
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"
    >
      <blockquote 
        cite={`https://www.facebook.com/${FACEBOOK_PAGE_ID}`}
        class="fb-xfbml-parse-ignore"
      >
        <a href={`https://www.facebook.com/${FACEBOOK_PAGE_ID}`}>
          Loading Facebook feed...
        </a>
      </blockquote>
    </div>
  </div>
</div>

<script>
  // Load Facebook SDK
  window.fbAsyncInit = function() {
    window.FB.init({
      xfbml: true,
      version: 'v18.0'
    });
  };

  (function(d, s, id) {
    const fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    if (!fjs?.parentNode) return;

    const js = d.createElement(s) as HTMLScriptElement;
    js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v18.0';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<style>
  .facebook-feed {
    @apply flex justify-center items-center;
  }
  
  /* Responsive container */
  .fb-page {
    @apply w-full max-w-xl mx-auto;
  }
  
  /* Removed dark mode adjustments */
</style>